In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

In [105]:
df = pd.read_csv('ShopAddresses.csv')

In [113]:
ds=df['ShopAddress']

In [121]:
df['Postcode']= ds.str.findall(r'\d{5}').str[0]

In [160]:
df

,ShopName,ShopAddress,Postcode,City
0,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ...",55100,NaN
1,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1...",55100,NaN
2,"U MOBILE SERVICE CENTRE, AEON AU2 SHOPPING CENTRE","G11, AEON AU2 SHOPPING CENTRE, NO 6, JALAN TAM...",54200,NaN
3,"U MOBILE SERVICE CENTRE, BUKIT TINGGI, KLANG","B-G-10, GROUND FLOOR, BBT ONE, LEBUH BATU NILA...",41200,KLANG
4,"U MOBILE SERVICE CENTRE, SUNWAY PYRAMID","LOT F1.26, 1ST FLOOR, SUNWAY PYRAMID, NO. 3, J...",46150,PETALING JAYA
...,...,...,...,...
151,E.Q COMMUNICATION ENTERPRISE,"LOT 315 JALAN BUKIT MOK MEK, 22000 JERETEH, TE...",22000,JERETEH
152,AZ BROADBAND SOLUTIONS,"NO.9, JALAN DATUK BAHAMAN 3 28000 TEMERLOH PAHANG",28000,NaN
153,BONACO ENTERPRISE,"NO.3 BAWAH BANGUNAN 36 UNIT, 26400 PUSAT JENGK...",26400,NaN
154,JJCOM TRADING,"21B, JALAN DATO ABDULLAH 27600 RAUB PAHANG",27600,NaN
155,HELLO PHONE SHOP,"LOT69, JALAN ENGKU MUDA MANSOR 26600 PEKAN PAHANG",26600,NaN

In [159]:
df['City']= ds.str.findall(r'\d{5} (.*?)\,|').str[0]

In [128]:
ds

0      G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ...
1      NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1...
2      G11, AEON AU2 SHOPPING CENTRE, NO 6, JALAN TAM...
3      B-G-10, GROUND FLOOR, BBT ONE, LEBUH BATU NILA...
4      LOT F1.26, 1ST FLOOR, SUNWAY PYRAMID, NO. 3, J...
                             ...
151    LOT 315 JALAN BUKIT MOK MEK, 22000 JERETEH, TE...
152    NO.9, JALAN DATUK BAHAMAN 3 28000 TEMERLOH PAHANG
153    NO.3 BAWAH BANGUNAN 36 UNIT, 26400 PUSAT JENGK...
154           21B, JALAN DATO ABDULLAH 27600 RAUB PAHANG
155    LOT69, JALAN ENGKU MUDA MANSOR 26600 PEKAN PAHANG
Name: ShopAddress, Length: 156, dtype: object

In [192]:
ds.str.contains(r'\d{5} (.*?)\,')

0      False
1      False
2      False
3       True
4       True
       ...
151     True
152    False
153    False
154    False
155    False
Name: ShopAddress, Length: 156, dtype: bool