In [1]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('../ShopAddresses.csv')
df

,ShopName,ShopAddress
0,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ..."
1,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1..."
2,"U MOBILE SERVICE CENTRE, AEON AU2 SHOPPING CENTRE","G11, AEON AU2 SHOPPING CENTRE, NO 6, JALAN TAM..."
3,"U MOBILE SERVICE CENTRE, BUKIT TINGGI, KLANG","B-G-10, GROUND FLOOR, BBT ONE, LEBUH BATU NILA..."
4,"U MOBILE SERVICE CENTRE, SUNWAY PYRAMID","LOT F1.26, 1ST FLOOR, SUNWAY PYRAMID, NO. 3, J..."
...,...,...
151,E.Q COMMUNICATION ENTERPRISE,"LOT 315 JALAN BUKIT MOK MEK, 22000 JERETEH, TE..."
152,AZ BROADBAND SOLUTIONS,"NO.9, JALAN DATUK BAHAMAN 3 28000 TEMERLOH PAHANG"
153,BONACO ENTERPRISE,"NO.3 BAWAH BANGUNAN 36 UNIT, 26400 PUSAT JENGK..."
154,JJCOM TRADING,"21B, JALAN DATO ABDULLAH 27600 RAUB PAHANG"
155,HELLO PHONE SHOP,"LOT69, JALAN ENGKU MUDA MANSOR 26600 PEKAN PAHANG"

In [92]:
df['Postcode'] = df['ShopAddress'].str.extract(r'(\d{5})')
df

,ShopName,ShopAddress,Postcode,City
0,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ...",55100,NaN
1,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1...",55100,NaN
2,"U MOBILE SERVICE CENTRE, AEON AU2 SHOPPING CENTRE","G11, AEON AU2 SHOPPING CENTRE, NO 6, JALAN TAM...",54200,NaN
3,"U MOBILE SERVICE CENTRE, BUKIT TINGGI, KLANG","B-G-10, GROUND FLOOR, BBT ONE, LEBUH BATU NILA...",41200,NaN
4,"U MOBILE SERVICE CENTRE, SUNWAY PYRAMID","LOT F1.26, 1ST FLOOR, SUNWAY PYRAMID, NO. 3, J...",46150,NaN
...,...,...,...,...
151,E.Q COMMUNICATION ENTERPRISE,"LOT 315 JALAN BUKIT MOK MEK, 22000 JERETEH, TE...",22000,NaN
152,AZ BROADBAND SOLUTIONS,"NO.9, JALAN DATUK BAHAMAN 3 28000 TEMERLOH PAHANG",28000,NaN
153,BONACO ENTERPRISE,"NO.3 BAWAH BANGUNAN 36 UNIT, 26400 PUSAT JENGK...",26400,NaN
154,JJCOM TRADING,"21B, JALAN DATO ABDULLAH 27600 RAUB PAHANG",27600,NaN
155,HELLO PHONE SHOP,"LOT69, JALAN ENGKU MUDA MANSOR 26600 PEKAN PAHANG",26600,NaN

In [3]:
#df.to_csv(r'ShopPostcode.csv', index = False)
#postcode = address.re.findall(r'\d{5}').str[0]

In [4]:
#df = pd.read_csv('ShopPostcode.csv', drop = [0])
def to_postcode(address):
    p = re.compile('\d{5}')
    postcode = str(p.findall(address)).strip("[]'")
    print(type(postcode))
    return postcode

In [5]:
add = 'No.5, jalan kemacahaya 8, 55100, hulu langat, selangor'
df

,ShopName,ShopAddress,Postcode
0,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ...",55100
1,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1...",55100
2,"U MOBILE SERVICE CENTRE, AEON AU2 SHOPPING CENTRE","G11, AEON AU2 SHOPPING CENTRE, NO 6, JALAN TAM...",54200
3,"U MOBILE SERVICE CENTRE, BUKIT TINGGI, KLANG","B-G-10, GROUND FLOOR, BBT ONE, LEBUH BATU NILA...",41200
4,"U MOBILE SERVICE CENTRE, SUNWAY PYRAMID","LOT F1.26, 1ST FLOOR, SUNWAY PYRAMID, NO. 3, J...",46150
...,...,...,...
151,E.Q COMMUNICATION ENTERPRISE,"LOT 315 JALAN BUKIT MOK MEK, 22000 JERETEH, TE...",22000
152,AZ BROADBAND SOLUTIONS,"NO.9, JALAN DATUK BAHAMAN 3 28000 TEMERLOH PAHANG",28000
153,BONACO ENTERPRISE,"NO.3 BAWAH BANGUNAN 36 UNIT, 26400 PUSAT JENGK...",26400
154,JJCOM TRADING,"21B, JALAN DATO ABDULLAH 27600 RAUB PAHANG",27600
155,HELLO PHONE SHOP,"LOT69, JALAN ENGKU MUDA MANSOR 26600 PEKAN PAHANG",26600

In [6]:
post = to_postcode(add)

<class 'str'>

In [7]:
df.loc[df['Postcode'] == to_postcode(add)]

<class 'str'>

,ShopName,ShopAddress,Postcode
0,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ...",55100
1,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1...",55100
19,FIRST ONE MOBILE SDN BHD (S2),PAVILION KUALA LUMPUR LOT: TL1.100.00 LEVEL 1 ...,55100
20,FIRST ONE MOBILE SDN BHD (S3),"LOT 3-43,SUNWAY VELOCITY MALL, 55100 KUALA LUM...",55100

In [212]:
def to_city1(address):
    p = re.compile('\d{5}(\s|,\s)(\w*\s\w*|\w*)')
    city = str(p.findall(address))
    return city.group(1)

In [213]:
print(to_city('G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQUARE, NO. 1, JALAN IMBI, 55100, KUALA LUMPUR.'))

<re.Match object; span=(71, 90), match='55100, KUALA LUMPUR'>
None

In [60]:
target = df['ShopAddress']

In [207]:
df['City'] = df['ShopAddress'].str.extract(r"\d{5}(\s|,\s)(\w*\s\w*|\w*)")
df

AttributeError: 'DataFrame' object has no attribute 'str'

In [94]:
df.apply(lambda x : x.ShopAddress.str.findall(r'\d{5},\s(\w*\s\w*|\w*)').str[0])

AttributeError: 'Series' object has no attribute 'ShopAddress'

In [107]:
df.ShopAddress.apply(lambda x : to_city(x))

0      []
1      []
2      []
3      []
4      []
       ..
151    []
152    []
153    []
154    []
155    []
Name: ShopAddress, Length: 156, dtype: object

In [120]:
hello = re.match('\d{5},\s(\w*\s\w*|\w*)', add, re.IGNORECASE).group(1)
hello

AttributeError: 'NoneType' object has no attribute 'group'

In [214]:
def to_city(address):
    p = re.compile('\d{5}(\s|,\s)(\w*\s\w*|\w*)')
    city = re.search(p, address)
    return city.group(2)

In [215]:
print(to_city(add))

hulu langat

In [216]:
df.apply(lambda x : to_city(x.ShopAddress), axis = 1)

AttributeError: 'NoneType' object has no attribute 'group'

In [220]:
def to_city2(address):
    dress = re.search('\d{5}(\s|,\s)(\w*\s\w*|\w*)', address, re.IGNORECASE)
    if dress:
        return dress.group(2)

In [221]:
print(to_city2(add))

hulu langat

In [222]:
df.ShopAddress.apply(lambda x : to_city2(x))

0         KUALA LUMPUR
1         KUALA LUMPUR
2         KUALA LUMPUR
3                KLANG
4        PETALING JAYA
            ...
151            JERETEH
152    TEMERLOH PAHANG
153       PUSAT JENGKA
154        RAUB PAHANG
155       PEKAN PAHANG
Name: ShopAddress, Length: 156, dtype: object

In [157]:
df['ShopAddress'].apply(lambda x: re.search('\d{5},\s(\w*\s\w*|\w*)', x))

0      None
1      None
2      None
3      None
4      None
       ...
151    None
152    None
153    None
154    None
155    None
Name: ShopAddress, Length: 156, dtype: object

In [227]:
df['City'] = df.ShopAddress.apply(lambda x : to_city2(x))
df

,ShopName,ShopAddress,Postcode,City
0,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ...",55100,KUALA LUMPUR
1,BERJAYA TIMES SQUARE EXPERIENCE CENTRE,"NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1...",55100,KUALA LUMPUR
2,"U MOBILE SERVICE CENTRE, AEON AU2 SHOPPING CENTRE","G11, AEON AU2 SHOPPING CENTRE, NO 6, JALAN TAM...",54200,KUALA LUMPUR
3,"U MOBILE SERVICE CENTRE, BUKIT TINGGI, KLANG","B-G-10, GROUND FLOOR, BBT ONE, LEBUH BATU NILA...",41200,KLANG
4,"U MOBILE SERVICE CENTRE, SUNWAY PYRAMID","LOT F1.26, 1ST FLOOR, SUNWAY PYRAMID, NO. 3, J...",46150,PETALING JAYA
...,...,...,...,...
151,E.Q COMMUNICATION ENTERPRISE,"LOT 315 JALAN BUKIT MOK MEK, 22000 JERETEH, TE...",22000,JERETEH
152,AZ BROADBAND SOLUTIONS,"NO.9, JALAN DATUK BAHAMAN 3 28000 TEMERLOH PAHANG",28000,TEMERLOH PAHANG
153,BONACO ENTERPRISE,"NO.3 BAWAH BANGUNAN 36 UNIT, 26400 PUSAT JENGK...",26400,PUSAT JENGKA
154,JJCOM TRADING,"21B, JALAN DATO ABDULLAH 27600 RAUB PAHANG",27600,RAUB PAHANG
155,HELLO PHONE SHOP,"LOT69, JALAN ENGKU MUDA MANSOR 26600 PEKAN PAHANG",26600,PEKAN PAHANG

In [226]:
df.City.isnull().count()

156

In [266]:
def fix1(line):
    rex = re.compile(r'(\d{5})\s(\w*)')
    line = re.sub( rex, r'\1,\2', line)
    return line

In [267]:
df.ShopAddress.apply(lambda x : fix1(x))

0      G17, GROUND FLOOR, EAST WING, BERJAYA TIMES SQ...
1      NO. 1-10, LEVEL 1, BERJAYA TIMES SQUARE, NO. 1...
2      G11, AEON AU2 SHOPPING CENTRE, NO 6, JALAN TAM...
3      B-G-10, GROUND FLOOR, BBT ONE, LEBUH BATU NILA...
4      LOT F1.26, 1ST FLOOR, SUNWAY PYRAMID, NO. 3, J...
                             ...
151    LOT 315 JALAN BUKIT MOK MEK, 22000,JERETEH, TE...
152    NO.9, JALAN DATUK BAHAMAN 3 28000,TEMERLOH PAHANG
153    NO.3 BAWAH BANGUNAN 36 UNIT, 26400,PUSAT JENGK...
154           21B, JALAN DATO ABDULLAH 27600,RAUB PAHANG
155    LOT69, JALAN ENGKU MUDA MANSOR 26600,PEKAN PAHANG
Name: ShopAddress, Length: 156, dtype: object

In [274]:
df.ShopAddress[5]

'LG313C, 1UTAMA SHOPPING CENTRE (NEW WING), 1, PERSIARAN BANDAR UTAMA, BANDAR UTAMA, 47100 PETALING JAYA, SELANGOR.'